/* Global  */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

*, ::before, ::after { box-sizing: border-box; margin: 0; padding: 0;} 

html {scroll-behavior: smooth;
font-size: 16px;}

body { font-family: "Lexend Mega", sans-serif; font-size: 1rem;}

.debug { border: 10px solid red;}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
    display: inline-block;
    /* line-height: 1; */
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    position: relative;
    top: 0.25rem;

    /* margin-top: 5rem; */
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
/* Global End */

/* HEADER MAGIC START */
.headerBar {
    position: fixed;
    top:0;
    z-index: 10;
    height: 70px; /* 100 px - 1920 res */
    width: 100%;
    padding: 0 2rem;
    background-image: linear-gradient(to bottom, rgb(128, 128, 128, 1), rgb(128, 128, 128, 0.0));
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
.navLogo img {
    height: 45px;  /* 60px - 1920 */
}
.navLink {
    position: relative;
    text-decoration: none;
    color: black;
}
/* UNDERLINE ANIMATION START */
.underLine {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 1px;
}
.underLine::before, .underLine::after {
    content: "";
    position: absolute;
    left: 0;
    height: 200%;
    background-color: black;
    width: 0;
}
.underLine::before {
    transition: width 0.3s ease-out
}
.navListItem:hover ~ .underLine::before {
    width: 100%;
}
/* UNDERLINE ANIMATION END */

/* HAMBURGER MENU START */
.navMenu {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
.navMenu input {
    display: block;
    width: 40px;
    height: 100%;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; 
    z-index: 2; 
    -webkit-touch-callout: none;
}
@media screen and (min-width: 1200px) {
    .navMenu input {
        display: none;
    }
}
.navMenu span {
    display: block;
    width: 45px;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    background: rgb(35, 35, 35);
    z-index: 1;
    transform-origin: right top;
    transition: transform 0.6s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.65s ease;
}

.navMenu span:nth-last-child(3) {
    transform-origin: right bottom; 
}

.navMenu span:nth-last-child(2) {
    transform-origin: right bottom; 
}

.navMenu input:checked ~ span {
    opacity: 1;
    transform: rotate(-27deg) /* translate(-2px, -1px) */;
}

.navMenu input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.navMenu input:checked ~ span:nth-last-child(2) {
    transform: rotate(27deg) /* translate(0, -1px) */;
}
@media screen and (min-width: 1200px) {
    .navMenu span {
        display: none;
    }
}
.navList {
    position: absolute;
    width: 20rem;
    margin: 0 0 0 -16rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
    height: max-content;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.navListItem {
    display: inline-block;
    padding-top: 0.75rem;
    font-size: 1.25rem;
}

.navMenu input:checked ~ ul {
    transform: none;
}

@media screen and (min-width: 1200px) {
    .navList {
        position: relative;
        width: 30rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        transform: none;
    }
    .navListItem {
        padding: unset;
        margin: 0.15rem 0.3rem 0.15rem 0.3rem;
    }
}

/* ===== SECTION 
/* ===== about 
/* ===== MAGIC START
 */

.aboutSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
}

.aboutTitle {
    padding-right: 25%;
    width: 50%;
    /* font-size: 5rem; */
    font-size: calc(3rem + 2vw);
    text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}
  
.quoteWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quoteWrapper p {
    padding-bottom: 1rem;
    width: 80%;
    font-size: calc(1rem + 1vw);
    text-align: justify;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.subtitleWrapper {
    position: absolute;
    width: 100vw;
    bottom: 8rem;
    left: 50%;
    transform: translate(-50%, 0);
    /* very nice centering technique for absolutely placed items
    *  Can be used for vertical alignment
    *  by adding y-axis translate value.
    *  finnicky with child elements, 
    *  especially if they have fixed position
     */
}

.subtitleWrapper2nd {
    position: relative;
    width: calc(100vw - 10%);
    display: flex;
    margin: auto;
}

.aboutSubtitle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(100vw - 10%);
    height: 4rem;
    margin-bottom: 2rem;
    font-size: calc(1rem + 2vw);
    text-align: center;
    color: grey;
    filter: brightness(0);
    animation: flicker 8s linear 1.5s infinite normal none;
    
}
.animControl {
    z-index: 3;
    opacity: 0;
}
.animControlLabel {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50rem;
    height: 4rem;
    z-index: 3;
    cursor: pointer;
}
.toolTip {
    position: absolute;
    /* left: 50%; */
    transform: translate(0, 90%);
    width: calc(100vw - 10%);
    height: 4rem;
    text-align: center;
    font-size: calc(0.75rem + 1vw);
    color: grey;
    z-index: 3;
    visibility: hidden;
}
@media (any-hover: none) {
    
    .animControlLabel {
        cursor: unset;
    }

    .toolTip {
        visibility: visible;
    }
}
@media screen and (max-width: 1200px) {
    .aboutSection {
        flex-direction: column;
        justify-content: center;
    }
    .aboutTitle {
        padding-right: unset;
        text-align: center;
        width: 100%;
        height: calc(30vh + 2vw);

    }
    .quoteWrapper{
        width: calc(100vw - 5%);
        align-items: center;
        height: calc(50vh + 2vw);
    }
}
@media screen and (max-width: 800px) {
    .subtitleWrapper {
        bottom: 8rem;
    }
    
    .toolTip {
        transform: translate(0, 90%);
    }
}
@media screen and (max-width: 420px) {
    .subtitleWrapper {
        bottom: 8rem;
    }
    .toolTip {
        transform: translate(0, 90%);
    }
    .quoteWrapper p {
        font-size: calc(0.75rem + 1vw);

    }
}
.animControlLabel:hover ~ .toolTip {
    visibility: visible;
}

.animControl:checked ~ .aboutSubtitle {
    animation: none;
}


@keyframes flicker {
    0% {filter: brightness(1); opacity: 1; }
    5% {filter: brightness(0); opacity: 0.5; }
    10% {filter: brightness(1); opacity: 1; }
    19% {filter: brightness(0); opacity: 0.8; }
    20% {filter: brightness(1); opacity: 1; }
    21% {filter: brightness(1); opacity: 0.6; }
    22% {filter: brightness(0); opacity: 0.9; }
    23% {filter: brightness(1); opacity: 0.3; }
    32% {filter: brightness(1); opacity: 1; }
    36% {filter: brightness(0); opacity: 0.5; }
    38% {filter: brightness(1); opacity: 1; }
    65% {filter: brightness(0); opacity: 1; }
    66% {filter: brightness(1); opacity: 0.4; }
    67% {filter: brightness(1); opacity: 0.9; }
    68% {filter: brightness(1); opacity: 0.1; }
    69% {filter: brightness(1); opacity: 0.3; }
    70% {filter: brightness(1); opacity: 0.5; }
    71% {filter: brightness(0); opacity: 0.8; }
    72% {filter: brightness(1); opacity: 1; }
    90% {filter: brightness(0); opacity: 0.4; }
    100% {filter: brightness(1); opacity: 1; }
    
}

/* SECTION projects MAGIC START */

.projectsSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: max-content;
    width: 100%;
    padding: 5rem 2rem;
    position: relative;
}

.projectsTitle {
    width: 100%;
    margin-bottom: calc(3rem - 1vw);
    font-size: 2.25rem;
    text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    text-align: center;
}
@media screen 
    and (max-width: 750px) {
        .projectsSection h1::after {
            content: "\A freecodecamp exercises; \A #html5 & css3";
            white-space: pre;
            font-size: calc(0.75rem + 1vw);
            line-height: 0.5;
            color: rgb(66, 65, 65);
        }
    }

.projectsGridcontainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem 0.1rem; /*row gap column gap */
    justify-content: center;
}

.projectsItem {
    position: relative;
    display: grid;
    grid-template-areas: 
    "title title"
    "image desc";
    grid-template-rows: max-content max-content;
    grid-template-columns: auto auto;
    margin-bottom: 1rem;
}

.projectsItem-Title {
    grid-area: title;
    justify-self: left;
    padding: 0.5rem;
    overflow: visible;
}

.projectsItem-Desc {
    grid-area: desc;
    position: relative;
    z-index: 0;
    left: -200px;
    min-width: 0;
    padding-left: 1rem;
    place-self: center;
    visibility: hidden;
    transition: all .5s ease-in-out;
}
.projectsItem-Image:hover + .projectsItem-Desc {
    visibility: visible;
    left: 0;
}
.projectsItem-Desc p {
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.projectsItem-Image {
    grid-area: image;
    place-self: center;
    width: 100%;
    overflow: hidden;
    border-radius: 0.25rem;
    position: relative;
    z-index: 1;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    transition: all .3 ease-in-out;
}

.projectsItem-Image .imgPage {
    position: relative;
    top: 0;
    width: 100%;
    border-radius: 0.25rem;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0.7;
}

.projectsItem-Image:hover .imgPage {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0.1;
}

.projectsItem-Image:hover .projectsItem-Image {
    overflow: unset;
}

.projectsItem-Overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    z-index: 2;
    opacity: 0;
    transition: all 0.5s;
}

.projectsItem-Image:hover .projectsItem-Overlay {
    opacity: 1;
}

.projectsItem-Link {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: 0;
    transition: .3s ease-in-out;

}
.projectsItem-Image:hover .projectsItem-Link {
    opacity: 1;
}

.projectsItem-Link a {
    color: black;
    text-decoration: none;
    padding: 30px;
    font-size: 0.9rem;
}

.imgIcon {
    height: 10px;
    padding-left: 5px;
    
}
@media (any-hover: none) {
    .projectsItem-Desc {
        left: 0;
        visibility: visible;
    }
    .projectsItem-Image .imgPage {
        opacity: 0.5;
    }

    .projectsItem-Overlay {
        opacity: 1;
        background-color: rgba(165, 165, 165, 0.9);
        top: unset;
        bottom: 0;
        width: 100%;
        height: 30%;
    }
    .projectsItem-Link {
        opacity: 1;
        top: unset;
        bottom: 0;
        height: 30%;

    }

}

/* DESKTOPS AND FULL HD RESOLUTION SCREENS */
@media screen and (min-width:1600px) {

    .project-1 {
        grid-area: project1;
        grid-row-start: 1;
        grid-column: 2 / span 6;
    }
    .project-2 {
        grid-area: project2;
        grid-row-start: 1;
        grid-column: 8 / span 6;
    }
    .project-3 {
        grid-area: project3;
        grid-row-start: 1;
        grid-column: 14 / span 6;
    }
    .project-4 {
        grid-area: project4;
        grid-row-start: 2;
        grid-column: 6 / span 6;
    }
    .project-5 {
        grid-area: project5;
        grid-row-start: 2;
        grid-column: 13 / span 6;
    }
}
/* RETINA DISPLAYS MEDIA QUERY */
@media screen 
    and (min-width: 1200px)
    and (max-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (min-resolution: 192dpi) {
    .projectsGridcontainer{
        grid-template-rows: repeat(3, 1fr);
    }
    .project-1 {
        grid-area: project1;
        grid-row-start: 1;
        grid-column: 4 / span 7;
    }
    .project-2 {
        grid-area: project2;
        grid-row-start: 1;
        grid-column: 13 / span 7;
    }
    .project-3 {
        grid-area: project3;
        grid-row-start: 2;
        grid-column: 4 / span 7;
    }
    .project-4 {
        grid-area: project4;
        grid-row-start: 2;
        grid-column: 13 / span 7;
    }
    .project-5 {
        grid-area: project5;
        grid-row-start: 3;
        grid-column: 9 / span 7;
    }
}
/* SAFARI'S SPECIAL TREATMENT  */
@media screen 
    and (min-width: 1200px)
    and (max-width: 1600px) {
    .projectsGridcontainer{
        grid-template-rows: repeat(3, 1fr);
    }
    .project-1 {
        grid-area: project1;
        grid-row-start: 1;
        grid-column: 4 / span 7;
    }
    .project-2 {
        grid-area: project2;
        grid-row-start: 1;
        grid-column: 13 / span 7;
    }
    .project-3 {
        grid-area: project3;
        grid-row-start: 2;
        grid-column: 4 / span 7;
    }
    .project-4 {
        grid-area: project4;
        grid-row-start: 2;
        grid-column: 13 / span 7;
    }
    .project-5 {
        grid-area: project5;
        grid-row-start: 3;
        grid-column: 9 / span 7;
    }
}
/* MOBILE */
@media screen 
    and (max-width: 1200px)
    {
    .projectsGridcontainer{
        grid-template-rows: repeat(5, 1fr);
    }
    .project-1 {
        grid-area: project1;
        grid-row-start: 1;
        grid-column: 3 / span 14;
    }
    .project-2 {
        grid-area: project2;
        grid-row-start: 2;
        grid-column: 3 / span 14;
    }
    .project-3 {
        grid-area: project3;
        grid-row-start: 3;
        grid-column: 3 / span 14;
    }
    .project-4 {
        grid-area: project4;
        grid-row-start: 4;
        grid-column: 3 / span 14;
    }
    .project-5 {
        grid-area: project5;
        grid-row-start: 5;
        grid-column: 3 / span 14;
    }
}
@media screen 
    and (max-width: 750px) {
    .projectsItem-Desc {
        display: none;
    }    
    .projectsItem {
        grid-template-areas: 
        "title title"
        "image image";
        width: 100%;
    }
    .project-1 {
        grid-area: project1;
        grid-row-start: 1;
        grid-column: 3 / span 16;
    }
    .project-2 {
        grid-area: project2;
        grid-row-start: 2;
        grid-column: 3 / span 16;
    }
    .project-3 {
        grid-area: project3;
        grid-row-start: 3;
        grid-column: 3 / span 16;
    }
    .project-4 {
        grid-area: project4;
        grid-row-start: 4;
        grid-column: 3 / span 16;
    }
    .project-5 {
        grid-area: project5;
        grid-row-start: 5;
        grid-column: 3 / span 16;
    }
}
/* SECTIION contact me MAGIC START  */

.contactSection {
    height: 80vh;
    position: relative;
}

.contactWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: calc(100vw - 10%);
    text-align: center;
}
@media screen and (min-width: 750px) {
    .contactWrapper {
        width: 30rem;
    }
}
.contactTitle {
    font-size: 2rem;
    padding-bottom: 2rem;
}
.contactWrapper form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    margin: auto;
    width: 100%;
}
.inputGroup {
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.inputElements {
    position: relative;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    width: 100%;
    /* height: 1.5rem; */
    /* margin-top: 1rem; */
    /* margin-bottom: 1rem; */
    /* padding-bottom: 1rem; */
    border: 0;
    outline: none;
    resize: vertical;
    /* border-bottom: 1px solid grey; */
    background-color: transparent;
}

.inputElements::placeholder {
    opacity: 0;
}

.labelElements {
    position: absolute;
    pointer-events: none;
    top: 0;
    transition: all 0.5s ease-in-out;
}

.inputElements:focus ~ .labelElements {
    top: -1.25rem;
}

.borderLine {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: grey;
    pointer-events: none;
}
.borderLine::before, .borderLine::after {
    content: "";
    position: absolute;
    left: 0;
    height: 200%;
    background-color: rgb(114, 114, 114);
    width: 0;
}
.borderLine::before {
    transition: width 0.3s ease-out
}

.inputElements:focus ~ .borderLine::before {
    width: 100%;
}

.submitButton {
    font-size: 2rem;
    font-family: inherit;
    text-shadow: 1px 2px 10px rgb(151, 151, 151);
    height: 2.5rem;
    width: 60%;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    background-color: transparent;
    transition: all 0.6s ease-out;
    
}

.submitButton:hover {
    cursor: pointer;
    transform: translate(0, -1rem) ;
}

/* FOOTER MAGIC */


.footerBar {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.profileWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 5rem;
    width: 30rem;
}

.profileGroup {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 10%;
    height: 100%;
}
.profileLink {
    position: relative;
    width: 100%;
    height: 100%;
    color: black;
}
.profileImage {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-out;
}

.profileText {
    position: absolute;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-font-smoothing: antialiased;
}

@media (any-hover: hover) {
    .profileGroup:hover .profileText {
        visibility: visible;
    }

    .profileGroup:hover .profileImage {
        position: absolute;
        transform: scale(0.8);
        top: -2.5rem;
        overflow: visible;
        left: -2.5rem;
    }
}