/* Global  */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

*, ::before, ::after { box-sizing: border-box; margin: 0; padding: 0;} 

html {scroll-behavior: smooth;}

body { font-family: "Lexend Mega", sans-serif; font-size: 1rem;}

/* Global End */

/* parallax effect
formula for determining scale factor:
(perspective - distance)/perspective = scaleFactor 
distance is taken from translateZ value

*/

.parallaxContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 100px;
    perspective-origin: 0%;
}
.parallaxBackground {
    background-image: linear-gradient(180deg, rgba(231, 220, 128, 0), rgba(151, 177, 163, 0.33), rgba(218, 192, 126, 0.13), rgba(205, 134, 118, 0.26));
     width: 100%; /* refers to parallaxContainer */
}

.parallaxLayer-1 {

}

/* HEADER MAGIC START */
.headerBar {
    position: fixed;
    top:0;
    height: 100px;
    width: 100%;
    padding: 0 2rem;;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navLogo img {
    height: 60px;
}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 100%;
}

.navListItem {
    display: inline-block;
    padding-left: 1.5rem;
    font-size: 1.5rem;
}

/* HEADER MAGIC END */

/* SECTION about MAGIC START */

.aboutSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
}

.aboutTitle {
    padding-right: 25%;
    width: 50%;
    font-size: 5rem;
    text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}
  
.quoteWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quoteWrapper p {
    padding-bottom: 1rem;
    width: 80%;
    font-size: 1.5rem;
    text-align: justify;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/* SECTION projects MAGIC START */

.projectsSection {
    display: flex;
    height: 100vh;
    padding: 5rem 2rem;
}
.projectsTitle {
    font-size: 1.25rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}