/* Global  */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

*, ::before, ::after { box-sizing: border-box; margin: 0; padding: 0;} 

html {scroll-behavior: smooth;}

body { font-family: "Lexend Mega", sans-serif; font-size: 1rem;}

.debug {
    border: 10px solid red;
}
/* Global End */

/* parallax effect
formula for determining scale factor:
(perspective - distance)/perspective = scaleFactor 
distance is taken from translateZ value

*/

.parallaxContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 100px;
    perspective-origin: 0%;
}
.parallaxBackground {
    background-image: linear-gradient(180deg, rgba(231, 220, 128, 0), rgba(151, 177, 163, 0.33), rgba(218, 192, 126, 0.13), rgba(205, 134, 118, 0.26));
     width: 100%; /* refers to parallaxContainer */
}

.parallaxLayer-1 {

}

/* HEADER MAGIC START */
.headerBar {
    position: fixed;
    top:0;
    z-index: 10;
    height: 70px; /* 100 px - 1920 res */
    width: 100%;
    padding: 0 2rem;
    background-image: linear-gradient(to bottom, rgb(128, 128, 128, 1), rgb(128, 128, 128, 0.0));
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navLogo img {
    height: 45px;  /* 60px - 1920 */
}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 100%;
}

.navListItem {
    display: inline-block;
    padding-left: 1.0rem;
    font-size: 1.25rem;
}

/* HEADER MAGIC END */

/* SECTION about MAGIC START */

.aboutSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
}

.aboutTitle {
    padding-right: 25%;
    width: 50%;
    font-size: 5rem;
    text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}
  
.quoteWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quoteWrapper p {
    padding-bottom: 1rem;
    width: 80%;
    font-size: 1.5rem;
    text-align: justify;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/* SECTION projects MAGIC START */

.projectsSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: max-content;
    width: 100%;
    padding: 5rem 2rem;
}

.projectsTitle {
    font-size: 2.25rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projectsGridcontainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem 0.1rem; /*row gap column gap */
    justify-content: center;
}

.projectsItem {
    position: relative;
    display: grid;
    grid-template-areas: 
    "title title"
    "image desc";
    grid-template-rows: max-content max-content;
    grid-template-columns: auto auto;
    margin-bottom: 1rem;
}

.projectsItem-Title {
    grid-area: title;
    justify-self: left;
    padding: 0.5rem;
    overflow: visible;
}

.projectsItem-Desc {
    grid-area: desc;
    position: relative;
    z-index: 0;
    left: -200px;
    min-width: 0;
    padding-left: 1rem;
    place-self: center;
    visibility: hidden;
    transition: all .5s ease-in-out;
}
.projectsItem-Image:hover + .projectsItem-Desc {
    visibility: visible;
    left: 0;
}
.projectsItem-Desc p {
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.projectsItem-Image {
    grid-area: image;
    place-self: center;
    width: 100%;
    overflow: hidden;
    border-radius: 0.25rem;
    position: relative;
    z-index: 1;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    transition: all .3 ease-in-out;
}

.projectsItem-Image .imgPage {
    position: relative;
    top: 0;
    width: 100%;
    border-radius: 0.25rem;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 1;
}

.projectsItem-Image:hover .imgPage {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0.1;
}

.projectsItem-Image:hover .projectsItem-Image {
    overflow: unset;
}

.projectsItem-Overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    z-index: 2;
    opacity: 0;
    transition: all 0.5s;
}

.projectsItem-Image:hover .projectsItem-Overlay {
    opacity: 1;
}

.projectsItem-Link {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: 0;
    transition: .3s ease-in-out;

}
.projectsItem-Image:hover .projectsItem-Link {
    opacity: 1;
}

.projectsItem-Link a {
    color: black;
    text-decoration: none;
    padding: 30px;
    font-size: 0.9rem;
}

.imgIcon {
    height: 10px;
    padding-left: 5px;
    
}
/* DESKTOPS AND FULL HD RESOLUTION SCREENS */
@media screen and (min-width:1600px) {

    .project-1 {
        grid-area: project1;
        grid-row-start: 1;
        grid-column: 2 / span 6;
    }
    .project-2 {
        grid-area: project2;
        grid-row-start: 1;
        grid-column: 8 / span 6;
    }
    .project-3 {
        grid-area: project3;
        grid-row-start: 1;
        grid-column: 14 / span 6;
    }
    .project-4 {
        grid-area: project4;
        grid-row-start: 2;
        grid-column: 6 / span 6;
    }
    .project-5 {
        grid-area: project5;
        grid-row-start: 2;
        grid-column: 13 / span 6;
    }
}
/* RETINA DISPLAYS MEDIA QUERY */
@media screen 
    and (min-width: 1200px)
    and (max-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (min-resolution: 192dpi) {
    .projectsGridcontainer{
        grid-template-rows: repeat(3, 1fr);
    }
    .project-1 {
        grid-area: project1;
        grid-row-start: 1;
        grid-column: 4 / span 7;
    }
    .project-2 {
        grid-area: project2;
        grid-row-start: 1;
        grid-column: 13 / span 7;
    }
    .project-3 {
        grid-area: project3;
        grid-row-start: 2;
        grid-column: 4 / span 7;
    }
    .project-4 {
        grid-area: project4;
        grid-row-start: 2;
        grid-column: 13 / span 7;
    }
    .project-5 {
        grid-area: project5;
        grid-row-start: 3;
        grid-column: 9 / span 7;
    }
}
/* SAFARI'S SPECIAL TREATMENT  */
@media screen 
    and (min-width: 1200px)
    and (max-width: 1600px) {
    .projectsGridcontainer{
        grid-template-rows: repeat(3, 1fr);
    }
    .project-1 {
        grid-area: project1;
        grid-row-start: 1;
        grid-column: 4 / span 7;
    }
    .project-2 {
        grid-area: project2;
        grid-row-start: 1;
        grid-column: 13 / span 7;
    }
    .project-3 {
        grid-area: project3;
        grid-row-start: 2;
        grid-column: 4 / span 7;
    }
    .project-4 {
        grid-area: project4;
        grid-row-start: 2;
        grid-column: 13 / span 7;
    }
    .project-5 {
        grid-area: project5;
        grid-row-start: 3;
        grid-column: 9 / span 7;
    }
}
/* MOBILE */
@media screen 
    and (max-width: 1200px)
    {
    .projectsGridcontainer{
        grid-template-rows: repeat(5, 1fr);
    }
    .project-1 {
        grid-area: project1;
        grid-row-start: 1;
        grid-column: 3 / span 14;
    }
    .project-2 {
        grid-area: project2;
        grid-row-start: 2;
        grid-column: 3 / span 14;
    }
    .project-3 {
        grid-area: project3;
        grid-row-start: 3;
        grid-column: 3 / span 14;
    }
    .project-4 {
        grid-area: project4;
        grid-row-start: 4;
        grid-column: 3 / span 14;
    }
    .project-5 {
        grid-area: project5;
        grid-row-start: 5;
        grid-column: 3 / span 14;
    }
}
/* SECTIION contact me MAGIC START  */

.contactSection {
    height: 80vh;
}

.contactWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
    text-align: center;
}
.contactTitle {
    font-size: 2rem;
    padding-bottom: 2rem;
}
.contactWrapper form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    margin: auto;
    width: 30rem;
}
.inputGroup {
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.inputElements {
    position: relative;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    width: 100%;
    /* height: 1.5rem; */
    /* margin-top: 1rem; */
    /* margin-bottom: 1rem; */
    /* padding-bottom: 1rem; */
    border: 0;
    outline: none;
    resize: vertical;
    /* border-bottom: 1px solid grey; */
    background-color: transparent;
}

.inputElements::placeholder {
    opacity: 0;
}

.labelElements {
    position: absolute;
    pointer-events: none;
    top: 0;
    transition: all 0.5s ease-in-out;
}

.inputElements:focus ~ .labelElements {
    top: -1.25rem;
}

.borderLine {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: grey;
    pointer-events: none;
}
.borderLine::before, .borderLine::after {
    content: "";
    position: absolute;
    left: 0;
    height: 200%;
    background-color: rgb(114, 114, 114);
    width: 0;
}
.borderLine::before {
transition: width 0.3s ease-out
}

.inputElements:focus ~ .borderLine::before {
    width: 100%;
}

.submitButton {
    font-size: 2rem;
    font-family: inherit;
    text-shadow: 1px 2px 10px rgb(151, 151, 151);
    height: 2.5rem;
    width: 60%;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    background-color: transparent;
    transition: all 0.6s ease-out;
    
}

.submitButton:hover {
    cursor: pointer;
    transform: translate(0, -1rem) ;
}

/* FOOTER MAGIC */


.footerBar {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.profileWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 5rem;
    width: 30rem;
}

.profileGroup {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 10%;
    height: 100%;
}
.profileLink {
    position: relative;
    width: 100%;
    height: 100%;
    color: black;
}
.profileImage {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-out;
}

.profileText {
    position: absolute;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.profileGroup:hover .profileText {
    visibility: visible;
}

.profileGroup:hover .profileImage {
    position: absolute;
    transform: scale(0.8);
    top: -2.5rem;
    overflow: visible;
    left: -2.5rem;
}
