/* Global  */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 1rem;
}

ul {
    padding-left: 1.5em;
}

p { 
    text-align: justify;
}

/* Grid area declarations. Grid area property assigns name to item  */
.sideBar { grid-area: sidebar;}
.mainContent { grid-area: mainContent;}

/* Grid container declarations. Set grid, layout, sizes.  */
.containerGrid {
    display: grid; 
    grid-template-columns: 25% 1fr;
    grid-template-areas: "sidebar mainContent";
    height: 100vh;
    padding: 0 2vw 0 2vw;
    gap: 0 2rem;

}
/* Sidebar lock */
.sideBar {
    position: fixed;
}

/* Sidebar styling */
.sideBar {
    grid-column: 1;
    background-color: rgb(245, 245, 245);
    padding: 1em;
    border-radius: 0 0.4em 0.4em 0;
    height: 100%;
    width: 25%;
    box-shadow: 0.3em 0.9em 10px rgb(179, 180, 180);
}
.navMenu {
    display: flex;
}

.navMenu > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    /* width: 100%; */
    padding-left: 0;
}

.navMenu > ul > li {
    padding: 0.35em;
    margin: 0.1em 0;
    height: 100%;
    width: 100%;
    border-radius: 0.3em;
}
/* Navigation styling, animation  */

.navMenu > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;
    display: inline-block;
	position: relative;
}

.navMenu > ul > li > a:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .2s ease, background-image .2s ease;
}

.navMenu > ul > li > a:hover:after {
	width: 100%;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.navMenu > ul > li > a:hover {
    font-weight: bold;
}

.nav-link, .nav-link:visited  {
    color: black;
}

.nav-link-home {
    text-decoration: none;
}

.nav-link-home:visited {
    color: black;
}

.navMenu button {
    display: none;
    font-family: inherit;
    background: none;
    text-decoration: none;
    border: none;
    color: inherit;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 1.5rem;
    padding: 0;
}

@media screen and (max-width: 800px) {
    .navMenu button {
        display: flex;
        font-family: inherit;
        background: none;
        text-decoration: none;
        border: none;
        color: inherit;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
        margin: 0 1.5rem;
        padding: 0;
    }
    .navMenu {
        position: relative;
        margin: 0;
        padding: 0;
        border: none;
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
    .navMenu ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        list-style: none;
        height: auto;
        /* width: 100%; */
        margin: 2rem 0;
        padding: 0;
        font-size: 1.2rem;
        border-radius: 50px!important;
        opacity: 0;
        /* pointer-events: none; */
        visibility: hidden;
        transform: translateY(-10px);
        transition: all 0.4s ease;  
    }
    .navMenu li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #b6b4b4;
        margin: 0;
        border-radius: 20px;
        overflow: visible;
    }
    .navMenu li:hover {
        background-color: #d4d4d4;
    }
    .navMenu button:focus + ul {
        opacity: 1;
        /* pointer-events: all; */
        transform: translateY(0px);
        visibility: visible;
      }
    nav {
        display: flex;
        justify-content: space-between;
    }
    h1::before { 
        display: block; 
        content: " "; 
        margin-top: -3rem; 
        height: 3rem; 
        visibility: hidden; 
        pointer-events: none;
      }
    }
/* Main content styling */
.mainContent {
    grid-column: 2;
    padding-left: 2em;
    padding-top: 1em;
    overflow: auto;
}

.main-section {
    padding-bottom: 2em;
}
#Grid_Layout > p > p > ul {
    list-style: circle !important;
} 
.sectionFlex {
    display: flex;
    flex-direction: row;
}

.imgBox > img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    height: auto;
    padding-left: 1rem;
}

.imgBox {
    width: 50%;
}

.textBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding-bottom: 1rem;
}
.codeBlock {
    display: flex;
    width: 50%;
    text-align: left;
    align-items: center;
    justify-items: center;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.codeBlockSmaller {
    display: flex;
    width: 100%;
    text-align: left;
    align-items: center;
    justify-items: center;
    padding-left: 1rem;
}
/* Code samples */
.codeSample {
    display: block;
    text-align: left;
    width: max-content;
    white-space: pre-wrap;
    background-color: rgb(220, 220, 220);
    border-radius: 0.5rem;
}

pre {
    display: inline;
    
    height: 100%;
}

h3 {
    padding-bottom: 0.5rem;
}

/* Style for hr line */
hr {
    margin-top: 2em;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* links styling */
.linkResource {
    color: black;
}
.linkResource:hover {
    color: rgb(153, 152, 152);
    font-weight: 700;
    text-decoration: underline;
}
.linkResource:focus {
    color: rgb(153, 152, 152);
    font-weight: 700;
    text-decoration: underline;
}
.linkResource::after {
    content: "  (Opens in new tab)";
    font-style: italic;
    font-size: calc(initial - 10%);
    display: none;
}

.linkResource:hover::after {
    display: inline;
}

.sectionTitle {
    color:black;
}

.sectionTitle:hover {
    text-decoration: underline;
    text-decoration-color: rgb(153, 152, 152);
}
.sectionTitle::after {
    content: "  #";
    font-style: italic;
    display: none;
    color: rgb(153, 152, 152);;
}

.sectionTitle:hover::after {
    display: inline-block;
}

/* back to top  */
.backTotop > a > img {
    width: 100%;
}

.backTotop {
    width: 50px;
    position: absolute;
    top: 90vh;
    right: 5vw;
}

.backTotop:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 800px) { 
    .containerGrid {
        grid-template-columns: 1fr;
        grid-template-areas: "sidebar" "mainContent";
        gap: 2rem;

    }
    .sideBar {
        grid-row: 1;
        grid-column: unset;
        height: max-content;
        width: 100%;
    }

    .mainContent {
        grid-row: 2;
        grid-column: unset;
        padding-top: 3rem;
    }
    .main-section {
        top: 10rem;
    }
    .sectionFlex {
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .imgBox, .textBlock, .codeBlock {
        width: 80%;
    }
}