/* Global  */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Grid area definitions. Grid area property assigns name to item  */
.sideBar { grid-area: sidebar;}
.mainContent { grid-area: mainContent;}

