/* .required::after {
  content: "*";
  display: inline;
  margin-left: 0.1em;
  color: rgb(151, 0, 0);
} */
/* Global */ 
font-family: 'Skranji', cursive;

/* Body */

/* Header */

/* Flex */

/* Form */

/* Media */
@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
